.timer_container {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 10px;
}

.timer {
  margin: 0 10px;
}

.btn {
  margin: 10px 12px;
  padding: 10px 12px;
  border-radius: 10px;
  border-color: transparent;
  background: #9bbec8;
}

@media screen and (max-width: 480px) {
  .timer_container {
    flex-direction: column;
  }
}
