.header {
  display: flex;
  width: 80%;
  background-color: #ddf2fd;
  align-items: center;
  padding: 10px 12px;
  margin: 10px 12px;
  justify-content: space-between;
  border-radius: 10px;
}

.btn {
  margin: 10px 12px;
  padding: 10px 12px;
  border-radius: 10px;
  border-color: transparent;
  background: #9bbec8;
}

.user_details_container {
  margin: 0 10px;
  width: 80%;
}

.user_detail_header {
  text-align: center;
}

.user_detail_card {
  padding: 10px 12px;
  background: #ddf2fd;
  display: flex;
  align-items: center;
  margin: 12px auto;
  border-radius: 10px;
  justify-content: space-between;

  p {
    padding: 10px 12px;
  }
}

.posts_container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 12px;
  margin: 10px 12px;

  div {
    flex-basis: 30.3333%;
    margin: 10px 12px;
    background-color: #ddf2fd;
    border-radius: 10px;

    p {
      padding: 10px 12px;
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    width: 100%;
  }

  .user_details_container {
    width: 90%;
  }

  .user_detail_card {
    flex-direction: column;
    align-items: flex-start;
  }

  .posts_container {
    flex-direction: column;
    width: 100%;
  }
}
